@model IEnumerable<MVCPS.Models.MvcPolizaModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AddOrEdit","Poliza")" class="btn btn-default"><i class="fa fa-plus"></i>Crear Nueva Poliza</a>    
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDPoliza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDTipoCubrimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cobertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InicioVigenciaPoliza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoDeCobertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioPoliza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDTipoRiesgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDCliente)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDPoliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDTipoCubrimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InicioVigenciaPoliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoDeCobertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioPoliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDTipoRiesgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCliente)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit","Poliza",new { id = item.IDPoliza})" class="btn btn-default"><i class="fa fa-pencil"></i>Editar</a>
            <a onclick="Delete(@item.IDPoliza)" class="btn btn-default"><i class="fa fa-trash"></i>Eliminar</a>

        </td>
    </tr>
}

</table>


@section scripts{
    <script>
        $(function () {
            var sucessMessage = '@TempData["SuccessMessage"]'
            if (sucessMessage != '')
                alertify.success(sucessMessage);
            else {
                var errorMessage = '@TempData["ErrorMessage"]'
                if (errorMessage != '')
                    alertify.error(errorMessage);
            }
        });

        function Delete(id) {
            alertify.confirm('Eliminar Poliza', 'Esta Seguro Que Desea Eliminar Este Registro?', function () {
                window.location.href = '@Url.Action("Delete","Poliza")/' + id;
            },null)
        }
    </script>
    }
